<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <base href="./">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="img-src * atom: data:; default-src 'self'; script-src 'unsafe-inline'">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>manga.pet.</title>
  </head>
  <body>
  <header>
    <div>
      <div>
        <a href="/">
          <div class="left">
            <img class="logo" src="src/256x256.png">
            <h1>manga.pet.</h1>
          </div>
        </a>
        <form action="/search" method="POST">
          <input
                  type="text"
                  name="manga"
                  placeholder="Search for manga" />
          <button type="submit" value="OK">Search</button>
        </form>
      </div>
    </div>
    <div class="nav">
      <a href="/"><img src="src/home.svg" class="cog"/></a>
      <a href="/settings"><img src="src/cog.svg" class="cog"/></a>
    </div>
  </header>
    <h3>Recently downloaded</h3>
    <%= info %>
    <div class="manga-index-all">
      <% for (var i = 0; i < recents.length; i++) { %>
        <div class="manga-index">
          <a href="/profile?type=<%= recents[i].type %>&link=<%= recents[i].short %>">
            <img src="atom://<%= userData %>/temp/manga/image/<%= recents[i].short %>.jpg">
          </a>
        </div>
      <% } %>
    </div>
  <footer>
    <p>© <%= new Date().getFullYear() %> manga.pet.</p>
    <p>manga.pet. is Free Software, licensed under the GNU General Public License v3.0.</p>
    <p>manga.pet. is not responsible, or affiliated with any of the sites it indexes. Manga is property of their respective owners.</p>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.
  </footer>
  </body>
</html>
